<!DOCTYPE html>
<html ng-app="starter">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>
<body ng-controller="videoController">


<ion-content class="main">

    <div class="own-bar">

        <div class="row" style="height: 100px">


            <div class="col">
                <div class="headerLogo">
                    <img src="img/DevLogo.jpg">
                </div>

            </div>




        </div>




        <div class="row" style=" height: 50px;">



            <div class="col">
                <div class="headerInput row">

                    <input class="col" type="text" placeholder="company email" ng-model="emailInput">


                    <button ng-hide="emailFound" class="col-20 checkButton button button-small button-balanced" ng-class="emailInput.length>0 ? '' : 'button-outline'" ng-click="emailFound='true'">

                        check


                    </button>

                    <p ng-show="emailFound" style="color: #00A12E; font-weight: bold; font-size: 12px">found!</p>




                </div>





            </div>



        </div>


        <div class="row" style="height: 30px;">

            <div class="col companyNameHeading">

                <p ng-if="emailInput!=''">
                    <b ng-mouseover="popFuncShow($event)" ng-click="showModal()">Zenefits</b>

                    sponsered you
                    <b>$40</b>
                </p>

            </div>

        </div>

        <div class="row">
            <div class="col holdPlay">

                <p>Just hold play</p>
                <img src="img/greenArrow.png">

            </div>
        </div>

    </div>



    <!-- ++++++++++++++++++++++ 26th March, 2015 +++++++++++++++++++++++++++++

     Below I have just used simple HTML5 video tag to embed a video url here. Ionic provides a directive on-touch and on-release
     for video tags which is used to get the touch gestures. I have called two functions playVideo and stopVideo which are
     made in app.js
     webkit allows to play the functionality in the browsers as well.

     Note:

     There are multiple other methods of ionic for gestures which can be found on there site in docs. We can also use
     onHold method which will check that for how long I am keeping my fingers on to the screen. It's a charm working with ionic.

     Ionic Gestures: http://ionicframework.com/docs/api/directive/onTouch/


    Javascript Mouse Gesture:

    There are multiple mouse events provided by Javascript itself, I have used onmouseup event which will fire the function
    playVideo() as far as I hold the click, if I remove the click than function will not response and hence video will be
    paused.

     -->

    <div ng-show="video.ended" ng-hide="video.ended">

       <div style=" position: relative;" class="row">

       <div class="videoTimer col col-offset-75">

           <b style="display: inline; background-color: rgba(128, 128, 128, 0.44);">$ {{$parent.videoTime}}</b>
       </div>



       <div id="video-div" class="row" style="position: absolute;">


           <div class="col">
               <video id="youtubeVideo" on-touch="playVideo()" on-release="stopVideo()" onmouseup="playVideo()" preload="metadata"
                      webkit-playsinline="webkit-playsinline" class="youtubeVideoClass">

                   <source src="https://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="video/mp4"/>

                   Your browser does not support the video tag.

               </video>
           </div>

       </div>

       </div>


       </div>

   <div ng-show="!video.ended" ng-hide="!video.ended">



    <div class="row">

        <div class="col"></div>

        <div class="col-80">






            <div class="row endVideo row-center">

                <div class="text-center">

                    <p>
                        Awesome!
                    </p>
                    <p>
                        Just click through the next 3 steps and we'll get you paid.
                    </p>


                    <button class="button button-large">No interest</button>


                    <button class="button button-large">Learn More</button>

                    <p ng-click="restartVideo()">

                        Replay the video


                    </p>
                </div>
            </div>

        </div>



        <div class="col"></div>




    </div>

    <!-- </div>-->

</ion-content>

<!--<ion-footer-bar align-title="left" class="footer-bar">-->

<!--</ion-footer-bar>-->


<script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view style="height: 70px;width: 100px">
        <ion-content>
            <p></p>
        </ion-content>
    </ion-popover-view>
</script>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Pitcher App</h1>
        </ion-header-bar>
        <ion-content>
            Just Checking


            <button class="button button-assertive" ng-click="closeModal()">Close</button>

        </ion-content>
    </ion-modal-view>
</script>




</body>
</html>
