.main{
    background-color: #ffffff;
}
.own-bar{

    border-color: #9BBAEF;
    background-color: #9BBAEF;
    background-image: linear-gradient(0deg, #9BBAEF, #9BBAEF 50%, transparent 50%);
    color: #ffffff;
    height: 150px;


}
.own-bar > div {

    height: 100px;
}
.headerClass{
    color: #3d17a1;
    text-align: center;
    font-weight: bold;
    font-size: 34px;

}
.subHeaderClass{

}

.subHeaderClass > div > h1{
    color: #ffffff;

    font-weight: bold;
    font-size: 14px;

}
.headerInput{

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    height: 35px;
    width: 220px;
    border-radius: 0px;
    background-color: #ffffff;

}
.headerInput > input{

    text-align: center;
    margin:0 auto;
    width: 95%;
    height: 30px;
    border-radius: 0px;
    background-color: #ffffff;
    border-bottom: 1px dotted grey;


}

input::-webkit-input-placeholder {
    color: rgba(107, 116, 105, 0.88);
    font-size: 18px;

}
input::-moz-placeholder {
    color: rgba(107, 116, 105, 0.88);
    font-size: 18px;
}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: rgba(107, 116, 105, 0.88);
    font-size: 18px;

}
input:-ms-input-placeholder {
    color: rgba(107, 116, 105, 0.88);
    font-size: 18px;

}
.footer-bar{
    border-color: #9BBAEF;
    background-color: #9BBAEF;
    background-image: linear-gradient(0deg, #9BBAEF, #9BBAEF 50%, transparent 50%);
    color: #fff;
    height: 70px
}
.youtubeVideoClass{

    width: 100%;
    height: 400px;

}
.headerLogo{


    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.headerLogo > img {

    width: 100px;
    height: 100px;
}

@media screen and (max-width: 600px) {

    .youtubeVideoClass{

        width: 100%;
        height: 200px;

    }
}

